Your weekly Pushcart report:
\
Your mission:
\
- if @user.mission_id.nil?
  You still need to set a mission!
  = link_to 'Please do so here.', url_with_login_token(@user, edit_household_url)
- else
  = @user.mission.name
\
Your cart:
Food Group | Breakdown (% of Cart)
\
- @digest.categories_breakdown.each do |cat, cat_hash|
  - unless cat == :total || cat == :high_percent || cat == :servings_total
    - band_width = (cat_hash[:percent].to_f/@digest.categories_breakdown[:high_percent].to_f)*100
    = "#{cat.to_s} | #{ cat_hash[:percent] == 0 ? '0%' : cat_hash[:percent].round(1) }"
\
= "# | Total Servings | Name | $"
- @digest.items_with_categories.each do |cat, items|
  - unless items.empty?
    = "CATEGORY: #{cat.to_s}"
    - items.each do |item|
      = "#{beautify_numerical_output(item.quantity)} | #{beautify_numerical_output(item.servings_total, true)} | #{item.name} | #{number_to_currency(item.total_price)}"
