= simple_form_for @user do |f|
  .row
    .large-12.columns
      Endpoint email
    .large-6.columns
      = f.input :endpoint_email, label: false
    .large-6.columns
      = "@#{EMAIL_URI}"
    .large-12.columns
      %p This e-mail address is where all your grocery reciepts should be sent. Once you change it, we recommend that you update it in any auto-mailers or grocery accounts immediately, as we will no longer forward e-mails sent to the old endpoint address.

  .row
    .large-12.columns
      = f.button :submit, 'Update my settings', class: 'button'