.container
  .row
    .col-md-offset-1.col-md-10
      - if confirmation
        %h1 Congratulations, your account is confirmed!
      - else
        %h1 Your Pushcart account
  .row
    .col-md-offset-1.col-md-8
      %h2 Your Pushcart forwarding address
  .row
    .col-md-offset-2.col-md-8
      %p Your Pushcart forwarding e-mail address is a filter for grabbing your grocery receipt data. Here's yours:
      %p
        %b
          = @user.endpoint_email_with_uri
      %p
        Want to change your Pushcart forwarding e-mail address to something else?
        - if mailer
          = link_to 'Click here.', url_with_login_token(@user, edit_user_url(@user))
        - else
          = link_to 'Click here.', edit_user_path(@user)
      %p Simply send receipts to this address and we'll make sure that we collect all the important data you need to know about your grocery shopping for you.
  .row
    .col-md-offset-1.col-md-10
      %h2 Your household information
  .row
    .col-md-offset-2.col-md-8
      %h3 Household Mission
      - if @user.mission_id.nil?
        %p
          = "You have not yet set a mission for your household."
          = link_to 'Please do so here.', url_with_login_token(@user, edit_household_url)
      - else
        %p
          %b
            = @user.mission.name
      %h3 Household Demographics
      - if @user.household_members.empty?
        %p
          = "You have not added any members to your household yet."
          = link_to 'Please do so here.', url_with_login_token(@user, edit_household_url)
      - else
        - @user.household_members.each_with_index do |hm, index|
          %p.col-md-12
            %b
              = "##{index+1} #{hm.gender}, #{hm.age} years old"
        = "Need to change your mission or demographic information?"
        = link_to 'You can do so here.', url_with_login_token(@user, edit_household_url)
  - if confirmation
    .col-md-offset-1.col-md-10
      %h2 One last thing to do
      %p To get started collecting your grocery data, all you need to do now is one of the following:
      %ol
        %li
          %p Set up an auto-forwarder to send all grocery receipt e-mails to your endpoint e-mail above. (If you like to micromanage your technology, you can also just manually forward e-mail your receipts.)
        %li
          %p Simply change your contact e-mail address on the grocery site to the endpoint e-mail. (Don't worry -- we will forward all e-mails from them on to you and won't store anything except for data about your purchases.)
    .col-md-offset-1.col-md-10
      %h2 Keep it for your records
      %p Not sure you'll remember this information, or how to navigate back to this page? Never fear: we've already sent you an e-mail with all the information on this page!