.container
  .row
    .col-md-offset-3.col-md-8
      %h1 Your Household
  .row
    .col-md-9.col-md-offset-1
      %h3 Set your household mission
      %p Please tell us about a healthy change you’d like to make to your grocery shopping.

  = simple_nested_form_for @user do |f|
  
    .col-md-9.col-md-offset-1
      = f.input :mission_id, collection: Mission.all, label: false
    .row
      .col-md-9.col-md-offset-1
        %h3 Who are you shopping for?
        %p Having information on the number of people you shop for and their age helps us tailor our recommendations better. (Please include yourself.)
    #edit-form
      = f.fields_for :household_members do |hm_form|
        .row
          .col-md-1.col-md-offset-1
            %h5= 'Person'
          .col-md-3
            = hm_form.input :gender, collection: ['Male', 'Female', 'N/A'], label: false, prompt: 'Gender'
          .col-md-3
            = hm_form.input :age, collection: HouseholdMember.age_collection, label: false, prompt: 'Age'
          .col-md-2
            = hm_form.link_to_remove 'Remove', class: 'button person-button remove_nested_fields'
    .row
      .col-md-3.col-md-offset-1
        = f.link_to_add "Add person to household", :household_members, class: 'btn btn-primary', data: { target: "#edit-form" }
    .row
      .col-md-3.col-md-offset-5
        = f.button :submit, 'Submit', class: 'btn btn-primary'